version: 2
jobs:
  build:
    docker:
      - image: cimg/android:2024.01
    working_directory: ~/project
    steps:
      - checkout
      - run: chmod +x ./gradlew
      - run: ./gradlew test

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
